<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap"
      rel="stylesheet"
    />

    <title>Travel App</title>
  </head>
  <body id="container">
    <header>
      <h1 class="logo">HasanOsman</h1>
      <!--<h2-- class="sub_logo">Software Engineer</h2-->
    </header>
    <main id="app">
      <div id="travelconfirmation"></div>
      <div id="countryinfo">
        <div id="country"></div>
        <div id="flagcontainer"></div>
        <div id="infocontainer">
          <div id="countries"></div>
          <div id="country"></div>
          <!--<h3>Useful Traveller's Information</h3>-->
          <div id="flag"></div>
          <div id="capital"></div>
          <div id="language"></div>
          <div id="diallingcode"></div>
          <div id="timezones"></div>
          <div id="currencies"></div>
          <div id="population"></div>
          <div id="region"></div>
          <div id="subregion"></div>
        </div>
      </div>
      <div id="firstscreen">
        <section class="headline">Trip Plan</section>
        <div id="traveldates">
          <section class="destination_city">
            <label for="destination_city">Going to:</label>
            <input
              type="text"
              id="destination_city"
              placeholder="enter your destination"
            />
          </section>
          <section class="departure">
            <label for="dateDepart">Leaving on:</label>
            <input
              type="date"
              id="dateDepart"
              placeholder="insert your departure date"
            />
          </section>
          <section class="return">
            <label for="dateReturn">Returning on:</label>
            <input
              type="date"
              id="dateReturn"
              placeholder="insert your return date"
            />
          </section>
          <section class="submit" id="button">
            <button id="depart_btn" type="submit">Let's Go!</button>
          </section>
        </div>
      </div>
      <div id="locationimage">
        <img id="picture" />
      </div>

      <section class="travelinfo">
        <div id="location"></div>
        <div id="outbound"></div>
        <div id="inbound"></div>
        <div id="tripDuration"></div>
        <div id="daysTillDepart"></div>
        <div id="destination"></div>
        <div id="weatherCurrent"></div>
      </section>
      <div id="forecastinfo">
        <p id="weatherHeading"></p>
        <div id="weatherForecast">
          <id id="date"></id>
        </div>
      </div>
    </main>
    <footer id="footer">
      Copyright&copy 2021<strong>Hasan Osman</strong>. All Rights Reserved.
    </footer>
    <!--<script>
      //Check that service workers are supported
      if ('serviceWorker' in navigator){
        //Use the window load event to keep the page load performant
        window.addEventListener('load', ( ) => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>-->
  </body>
</html>
