header {
  width: 100%;
  //position: fixed;
  background-color: #b8b8b8;
  border-bottom: 3px solid #f0b020;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 0;
}

h1 {
  font-size: 1rem;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 0;
}

.logo {
  font-size: 1em;
  font-family: "Bebas Neue", sans-serif;
  color: #1a1d25;
  padding: 0.08rem;
  padding-left: 1rem;
  margin-top: 0;
}
