header {
  display: flex;
  width: 100%;
  position: fixed;
  padding: 0.5em 1em;
  background-color: #b8b8b8;
  border-bottom: 3px solid #f0b020;
  align-items: flex-start;
  align-content: flex-start;
}

h1 {
  font-size: 0.8rem;
  font-family: "Bebas Neue", sans-serif;
  color: #707070;
  margin-bottom: 0;
}
