/*  Basic Styling To Override Default For Basic HTML Elements */
/* Reset style for HTML element on active to have no border*/
/* Style for Placeholder Text*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #b8b8b8;
  border-bottom: 3px solid #f0b020;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.logo {
  font-size: 1em;
  font-family: "Bebas Neue", sans-serif;
  color: #1a1d25;
  padding: 0.08rem;
  padding-left: 1rem;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 0.5em 1em;
  color: #1a1d25;
  border-top: 3px solid #f0b020;
  background-color: #b8b8b8;
  /*var(--bgcolourhf)*/
  font-size: 1rem;
  font-family: "Bebas Neue", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*
.headline {
  margin-top: 1rem;
}*/
#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #fffff8;
  color: #1a1d25;
  font-family: "Oswald", sans-serif;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  overflow: auto;
  padding: 50px 10px;
}

section.headline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 0;
  text-decoration: underline;
  font-size: 1.75em;
}

section.destination {
  padding-left: 3em;
  padding-bottom: 2em;
  border-bottom: 2px solid #f0b020;
  border-top: 2px solid #f0b020;
  font-size: 1.5em;
}

section.departure,
section.return {
  padding-top: 1em;
  padding-left: 3em;
  font-size: 1.5em;
}

section.return {
  padding-bottom: 4em;
  border-bottom: 2px solid #f0b020;
}

#app > footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

label {
  display: block;
  font-size: 0.75em;
  font-family: Oswald, sans-serif;
}

/*
input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  &:focus {
    outline: none;
  }}
  */
input {
  display: block;
  border: none;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 0.65em;
  color: #1a1d25;
  background: #b8b8b8;
}

/* Buttons styles start */
button {
  display: block;
  width: 4.5rem;
  border: 2px solid #f0b020;
  border-radius: 0.25rem;
  background: #b8b8b8;
  color: #1a1d25;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 2px 4px 5px;
          box-shadow: 2px 4px 5px;
  margin-top: 0.5rem;
}

button:hover, button:focus {
  outline: 2px solid #f0b020;
}

button:focus {
  outline-offset: -4px;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#weatherCurrent,
#weatherForecast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#forecastheader {
  margin: auto 0;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

#picture {
  display: block;
  width: 502px;
  height: 252px;
}
/*# sourceMappingURL=style.css.map */