/*  Basic Styling To Override Default For Basic HTML Elements */
/* Reset style for HTML element on active to have no border*/
/* Style for Placeholder Text*/
@import "./header.scss";
@import "./footer.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  //ßfont-family: -apple-system, BlinkMacSystemFont, sans-serif;
  // background-image: url("../views/img/travelbgimg.png");
}
/*
.headline {
  margin-top: 1rem;
}*/

h3 {
  text-align: center;
  text-decoration: underline;
}

#container {
  //.display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  // justify-content: center;
  height: 100vh;
  background: #fffff8;
  color: #1a1d25;
  justify-content: center;
  //grid-gap: 1em;
  font-family: "Oswald", sans-serif;
}

#app {
  display: grid;
  //grid-template-rows: repeat(4, 1fr);
  //grid-template-columns: repeat(4, 1fr);
  grid-area: main;
  overflow: auto;
  padding: 50px 10px;
}
@media (min-width: 600px) {
  #app {
    grid-template-columns: repeat(1, 1fr);
  }
}

#app > header {
  grid-area: header;
}
label {
  display: block;
  //font-size: 1em;
  font-family: Oswald, sans-serif;
}

section.headline {
  //grid-area: header;
  display: flex;
  flex-direction: row;
  // grid-column: span 3 / auto;
  //margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  font-size: 1.75em;
}

#traveldates {
  grid-row: span 3 / auto;
}
section.destination {
  padding-left: 3em;
  padding-bottom: 2em;
  border-bottom: 2px solid #f0b020;
  border-top: 2px solid #f0b020;
  font-size: 1.5em;
}

section.departure,
section.return {
  padding-top: 1em;
  padding-left: 3em;
  font-size: 1.5em;
}

section.return {
  padding-bottom: 4em;
  border-bottom: 2px solid #f0b020;
}

#app > footer {
  grid-area: footer;
}
label {
  display: block;
  font-size: 0.75em;
  font-family: Oswald, sans-serif;
}

input {
  display: block;
  border: none;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 0.65em;
  color: #1a1d25;
  background: #b8b8b8;

  &:focus {
    outline: 2px solid #f0b020;
  }
}

/* Buttons styles start */
button {
  display: block;
  width: 4.5rem;
  border: 2px solid #f0b020;
  border-radius: 0.25rem;
  background: #b8b8b8;
  color: #1a1d25;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  //margin-bottom: 1.5rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 4px 5px;
  margin-top: 0.5rem;

  &:hover,
  &:focus {
    outline: 2px solid #f0b020;
  }

  &:focus {
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}

#weatherForecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column: span 4 / auto;
  grid-row: span 3 / auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1em;
  padding-top: 1.5rem;
}

#weatherHeading {
  font-size: 1em;
  text-decoration: underline;
  text-align: center; //
  color: #614400;
  margin-top: 1rem;
}

#picture {
  grid-column: span 3 / auto;
  grid-row: span 3 / auto;
  max-width: 75%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  margin-top: 1rem;
}

.countryinfo {
  text-align: center;
  background: #f5f5f5;
  border-radius: 50px;
  grid-column: span 2 / auto;
  grid-row: span 3 / auto;
  padding-top: 0.5rem;
  padding-left: 2.5rem;
  line-height: 200%;
  //white-space: nowrap;
  //overflow: auto;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.travelinfo {
  //margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2em;
  padding-bottom: 1.5rem;
}
